@using System.Linq;
@using DTO
@{
    var listaUsuario = (IList<UsuarioDTO>)ViewBag.lstUsuario;

}

<div class="table-responsive">
    <table class="montarTable display" style="width:100%">
        <thead>
            <tr>
                <th style="display:none"></th>
                <th>Nome</th>
                <th>PSN ID</th>
                <th>Perfil</th>
                <th></th>
            </tr>
            <tr>
                <th style="display:none"></th>
                <th class="searchItem"></th>
                <th class="searchItem"></th>
                <th class="searchItem"></th>
                <th class="searchItem"></th>
            </tr>
        </thead>
        <tbody>
            @if (listaUsuario != null)
            {
                foreach (var item in listaUsuario)
                {
                    <tr>
                        <td style="display:none">@item.Id</td>
                        <td style="width: 30%">@item.Nome</td>
                        <td style="width: 30%">@item.PsnID</td>
                        <td style="width: 30%">@item.Perfil.Nome</td>
                        <td style="vertical-align:middle; width:10%">
                            <a class="btn pull-left" href="@Url.Action("Alterar", "Usuario", new { id = item.Id})" title="Clique aqui para Editar."><i class="fa fa-pencil fa-6 text-primary"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>